.counter {
  /* background: red; */
  backdrop-filter: blur(10px);
  position: fixed;
  left: 50%;
  /* bottom: 10vh; */
  bottom: 0;
  transform: translateX(-50%);
  padding: 1.5rem 2rem;
  width: 100%;
  max-width: 1600px;

  display: grid;
  grid-template-columns: 1fr auto;
}
