.work {
  display: grid;
  justify-content: center;
  padding: 2rem 1.2rem;
}

.work-item {
  display: grid;
  /* justify-content: center; */
  align-items: center;
  width: 100%;

  max-width: 1600px;
  justify-self: center;
}

.work-item.desktop.left {
}

.work-item.desktop.right {
}

.work-item.mobile {
}

.work-item.desktop {
}

.work-item .card.hovered {
}

/* Only distribute left/right on desktop */
.work-item.desktop .card {
  width: 70%;
  max-width: 800px;
}

.work-item.desktop.left .card {
  justify-self: start;
}
.work-item.desktop.right .card {
  justify-self: end;
}

/* Card */
.work-item .card {
  /* transparent glass card */
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-item.desktop .card {
  padding: 1rem 2rem;
}

/* Text */
.work-item .card .header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.work-item .card .header .title {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.work-item .card .header .type {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.8;
}

.work-item .card .description,
.work-item .card .context {
  text-align: justify;
}

.work-item .card .context {
  font-style: italic;
}

/* Tech */
.work-item .card .tech {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 0.5rem;
}

.work-item .card .tech .tech-item {
  /* font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background: var(--text-main);
  color: var(--background-main); */
}

.work-item .card .tech .tech-item img {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.work-item .card .tech .tech-item:hover img {
  opacity: 1;
}

@media (min-width: 768px) {
  .work {
    padding: 2rem 2rem;
  }
  .work-item .card {
    gap: 1.5rem;
  }
}
